body {
  font-family: "Segoe UI", sans-serif;
  background: #ecf0f1;
  color: #2c3e50;
}

.main-header {
  background: #34495e;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: white;
  font-weight: bold;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #0d6efd;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.hero {
  background: linear-gradient(to right, #0d6efd, #6610f2);
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.hero-content {
  animation: fadeUp 1s ease;
}

.hero-buttons button {
  margin: 10px;
}

.section {
  padding: 70px 0;
}

.skill-card {
  background: white;
  padding: 25px;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-8px);
}

.cta {
  background: #111;
  color: white;
  text-align: center;
  padding: 90px 20px;
}

.footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 25px;
  font-size: 14px;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}